th:first-child, td:first-child {
    color:white;
    text-align:center;
}

table, td, tr {
    border-collapse: collapse;
    margin-left: 500px;
    font-size: 30px;
    padding: 30px;
}

th:last-child, td:last-child {
    color: deeppink;
    text-align: center;
}

tr:first-child td {
    background-color: darkviolet;
    color:white;
    border:none;
}

tr:nth-child(2) {
    background-color: pink;
}

tr:nth-child(3) {
    background: #e6e6f9;
}

tr:nth-child(4) {
    background-color: pink;
}

tr:nth-child(5) {
    background: #e6e6f9;
}

tr:nth-child(6) {
    background-color: pink;
}

tr:nth-child(7) {
    background: #e6e6f9;
}

tr:nth-child(8) {
   background-color: pink;
}

tr:nth-child(9) {
    background: #e6e6f9;
}

tr:nth-child(10) {
    background-color: pink;
}

tr:nth-child(11) {
    background: #e6e6f9;
}